/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 sept. 2018, 15:19:32
    Author     : mlaurenchet2018
*/
header {
    background-color: #ffcc00;
    text-align: center;
    h1{
        front-family: arial, sans-serif;
        text-align: left;
    }
p.logo{
    float : left;
}}
body{
    background-color: #ffcc00;

nav{
     text-align: left;
}
article{
    float: left;
}
}