{% extends 'BricoAppliBundle::base.html.twig' %}


{% block contenu %}

        <div class="clear"></div>
            <ul class="menu">
                <li><a href="inscription">inscription</a></li> 
                <li><a href="Connexion">Connexion</a></li> 
            </ul>
            <div class="clear"></div>
        
        <hr>
   

    <nav class="navbar navbar-inverse navbar-fixed-top headroom">
        {% block nav %}
            <ul>
                <li>Outils Jardinages</li>
                <li>Outils auto mécanique</li>
                <li>Outils Bricolages électriques</li>
            </ul>
                 {% endblock %} 
    </nav>
  
    <hr>

                  {% block article %}
    <article>
                <div>
                  Je vends une brouette en bois (en l'état)<br>
                  Brouette en bois occasion à vendre à La Montagne (44620) : Loire-Atlantique(44)<br>       
                </div>
         
           
    </article>
    <article>
         
            <div>
                Ponceuse à bande WURTH, Puissance : 1400 watt, Identique à FESTOOL BS 105<br>
                Très Bon état. A retirer à Nantes quartier Zola au 0606060606<br>
                </div>
        
         
    </article>
    <article>
         
            Vend perceuse neuf de la marque DEXTER POWER Bricolage<br>
            Vend perceuse de la marque"DEXTER POWER" TRÈS BON PRIX 60 EUROS<br>
            Si vous ete interresser me joindre 0606060606.chèque refusé<br>
        
         
    </article> 
    <hr>
    {% endblock %}  
    

    {% endblock %}  